cffi==1.6.0
cloudshell-automation-api==7.0.0.132
cloudshell-cli==2.0.144
cloudshell-core==2.1.135
cloudshell-networking==2.1.112
cloudshell-shell-core==2.1.192
cloudshell-snmp==2.1.110
common==0.1.2
cryptography==1.4
docopt==0.6.2
ecdsa==0.13
enum34==1.1.6
funcsigs==1.0.2
idna==2.1
Inject==3.3.1
ipaddress==1.0.16
ipcalc==1.1.3
jedi==0.9.0
jsonpickle==0.9.3
linecache2==1.0.0
mock==2.0.0
paramiko==1.15.2
pbr==1.10.0
ply==3.8
prompt-toolkit==1.0.0
ptpython==0.34
pyasn1==0.1.9
pycparser==2.14
pycrypto==2.6.1
pyflakes==1.2.3
Pygments==2.1.3
pysmi==0.0.6
pysnmp==4.3.1
python-dateutil==2.4.2
pyvim==0.0.18
pyvmomi==6.0.0.2016.4
qualipy==1.0.792
requests==2.10.0
six==1.10.0
thrift==0.9.3
traceback2==1.4.0
virtualenv==14.0.1
wcwidth==0.1.6