tftpy
cloudshell-shell-flows>=1.0,<2
cloudshell-shell-connectivity-flow>=2.0,<3.0
cloudshell-cli>=4.0,<5
cloudshell-snmp>=4.0,<5
cloudshell-snmp-autoload>=1.0,<2.0
functools32; python_version <= '2.7'
cloudshell-shell-standards~=1.2